*{
    margin: 0px ;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  header{
      width: 100%;
      height: 100px;
      background: #313139 ;
      display: flex;
      align-items: center;
      padding:20px 0px;
      position: sticky;
      top: 0px;
      z-index: 1;
  }
  .logo9{margin: 0px 80px;
}
  .logo2{position: absolute; 
    top: 0x;
    right: 60px;
}
.nav-bar ul {
  display: flex;position: sticky;
  top: 0px; }
  

  .nav-bar ul li a {
      color: #ffffff;
      font-size: 20px;
      border-radius: 50px;
      transition: all 0.3s ease;
      position: relative;
      top: 0px;
      right:0px;
      margin: 60px 20px;
      font-family: 'Kalam', cursive;
      font-family: 'Lilita One', cursive;
      font-family: 'Merienda', cursive;
      font-family: 'Mitr', sans-serif;
  }

   .nav-bar ul li a:hover {
      color: #000000;
      background:#56AF77;
      padding: 25px;
  }

.titulo p{
    position: absolute;
    top: 480px;
    left: 200px;
    letter-spacing: 15px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
    text-shadow: 10px 2px 4px #000000;
}

p {
    font-family: 'Nanum Gothic', sans-serif, cursive;
    margin: 25px 300px;
    font-size: 25px; 
}

                                    /* Começo do Rodape */
*{
 padding: 0;
margin: 0;
box-sizing: border-box;
}
                                    
html {
height: 100%;
}

body {
min-height: 100%;
display: flex;
flex-direction: column;
background-color: #E4F8FF;
}
                                    
footer {
padding: 20px;
color: rgb(0, 0, 0);
}

footer{
  display:flex;
  justify-content: space-around;
  position: static;
  padding: 200px 955px;
  margin-top: auto;
  background-image: url('img/testRod4.jpg');
  background-size: 100%;
  margin-top: auto;                       
}

.logo{
  width: 23%;
  position: absolute;
  top: 2631px;
  right: 1530px;
}


.face {
  position: absolute;
  left: 660px;
  top: 2929px;
}

.twi {
  position: absolute;
  left: 740px;
  top: 2929px;
}

.insta {
  position: absolute;
  left: 820px;
  top: 2929px;
}

.you {
  position: absolute;
  left: 900px;
  top: 2929px; 
}

.contato {
  position: absolute;
  top: 2731px;
  left: 460px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: white;
}

.politica {
  position: absolute;
  top: 2816px;
  left: 460px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: white;
}

.msg {
  position: absolute;
  top: 2761px;
  left: 1100px;
  letter-spacing: 2px; 
  font-size: 25px;
  color: white;
}

.sobre h3{
  position: absolute;
  top: 2930px;
  left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  color: white;
}
                                            /* Começo do Slideshow */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container-slider {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    top: 1800px;
  }
  
  .container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
  }
  
  .slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
  }
  
  .on {
    opacity: 1;
  }
  
  #prev-button, #next-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  #prev-button img, #next-button img {
    width: 100%;
    height: 100%;
  }
  
  #prev-button {
    transform: rotate(180deg);
  }



  

* {
  scrollbar-width: thin;
  scrollbar-color: #397524 #DFE9EB;
}
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #2b2720;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #2b2720;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #2b2720;
}

@font-face {
  font-family: Issoai1;
  src: url(Texto/LTMuseum-Light.ttf);
}

.escrita p{font-family: Issoai1;}


.spotify{position: absolute;
  left: 700px;
  top: 80px;}
  
  .video1{z-index: -1;}
  
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu {
    position: relative;
  
    > .menu-trigger {
      display: inline-grid;
      place-items: center;
      padding: 0.5em;
      border-radius: 0.3em;
      
      cursor: pointer;
    }
    
    > .menu-menu {
    
      position: absolute;
      transition: opacity 0.3s ease;
      
      
      > li {
        padding: 0.2em 0.4em;
      }
    }
    
    &[data-aberto="true"] {
      > .menu-trigger > .fa-plus {
        display: none;
      }
      
      > .menu-menu {
        opacity: 1;
        visibility: visible;
      }
    }
    
    &[data-aberto="false"] {
      > .menu-trigger > .fa-minus {
        display: none;
      }
      
      > .menu-menu {
        opacity: 0;
        visibility: hidden;
        transition: opacity 1.5s ease, visibility 1s step-end;
      }
    }
  }
  .pupuf{position: relative;
  right: 10px;}

  .icon1 {
    position: absolute;
    top: 1410px;
    right: 930px;
  }

  .icon2 {
    position: absolute;
    top: 1660px;
    right: 930px;
  }